<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <title>Articles and Products</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="container mx-auto px-2">
        <h1 class="text-center font-extrabold text-xl mt-8 mb-6" >Articles and Products</h1>
        <button hx-target="#content" hx-get="/posts" hx-swap="innerHTML">Articles List</button>
        <br>
        <button hx-target="#content" hx-get="/products" hx-swap="innerHTML" >Products List</button>
        <br>
        <div id="content">
            <p><b>Empty</b></p>
        </div>
    </div>
</body>
</html>