<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/style.css">
    <title>Details</title>
</head>
<body>
    <div>
        <div>
            <button hx-delete="/details/{{.posts.Id}}/delete" hx-target="#content" hx-swap="innerHTML" class="cursor-pointer hover:font-bold font-semibold text-white bg-violet-600 p-1 rounded-3xl h-8 w-32 m-5">Delete</button>
        </div>
        <br>
        <div>
            <form hx-put="/details/{{.posts.Id}}/update" hx-target="#content" hx-swap="innerHTML" >

                <label class="text-indigo-700 font-bold">UPDATE ARTICLE TITLE:</label>
                <br>
                <input name="article" placeholder="article" class="border-2 border-black mt-2" />
                <br>
                <button class="cursor-pointer hover:font-bold font-semibold text-white bg-violet-600 p-1 rounded-3xl h-8 w-32 m-5" type="submit">Update</button>
          </form>
        </div>
        <br>
        <h2 class="text-indigo-700">Get Details: {{ .posts.Title}} </h2>
     </div>
</body>
</html>