<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form hx-post="/register" hx-target="#details" hx-swap="innerHTML">
        Email:<input type="email" name="email" placeholder="email">
        <br>
        Password:<input type="password" name="password" placeholder="password">
        <br>
        Confirm Password:<input type="password" name="confirmpassword" placeholder="password">
        <button type="submit">Register</button>
    </form>
</body>
</html>