<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowContent</title>
</head>
<body>
    
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum facere magnam odio quibusdam, tempore eos ut maiores numquam necessitatibus corporis quaerat sed, quod mollitia veritatis obcaecati omnis dolore perspiciatis facilis.</h2>
    <br>
    <button hx-post="/logout" hx-target="#details" hx-swap="innerHTML">Logout</button>
</body>
</html>